.navbar li {
	border-bottom:1px solid #5c97a3;
}

 .navbar-header {
	height: 60px;
}

.icon-bar {
  border-color: #73adbb;
}

//　logoのセンタリング
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of browser width */
    display: block;
    height: auto;

    img {
    	margin-left: -75px !important;  /* 50% of logo width */
    }
}

.navbar-inverse {
	border-bottom: solid 5px #5c97a3;
}

//　navbarのセンタリング
@media (min-width: $screen-sm-min){
.navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }
} 


.navbar-collapse#logo-line {
    background-color: white;
    padding-bottom: 10px;
}

